.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.form {
  width: 90%;
  margin: 0 auto;
}

.form input{
  width: 90%;
}

.form div.p-chips {
  width: 90%;
}

.form ul.p-inputtext {
  width: 100%;
}

.form textarea {
  width: 90%;
}

.form div.buttons > button{
  margin-left: 15px;
}

.form div.buttons > button:first-child{
  margin-left: 0;
}